@model Verbali


<form class="text-center" method="post" asp-controller="Verbale" asp-action="AggiungiVerbale">
    <fieldset>
        <legend>Nuovo Verbale:</legend>
        <label asp-for="@Model.DataViolazione">Data Violazione:</label>
        <input type="date" asp-for="@Model.DataViolazione">
        <br>
        <br>
        <label asp-for="@Model.IndirizzoViolazione">Indirizzo Violazione:</label>
        <input type="text" asp-for="@Model.IndirizzoViolazione" placeholder="Inserisci indirizzo..">
        <br>
        <br>
        <label asp-for ="@Model.NominativoAgente">Nominativo Agente:</label>
        <input type="text" asp-for="@Model.NominativoAgente" placeholder="Inserisci nominativo..">
        <br>
        <br>
        <label asp-for="@Model.DataTrascrizioneVerbale">Data trascrizione verbale:</label>
        <input type="date" asp-for="@Model.DataTrascrizioneVerbale">
        <br>
        <br>
        <label asp-for="@Model.Importo">Importo:</label>
        <input type="number" asp-for="@Model.Importo" step="0.01" placeholder="Inserisci importo..">
        <br>
        <br>
        <label asp-for="@Model.DecurtamentoPunti">Decurtamento Punti:</label>
        <input type="number" asp-for="@Model.DecurtamentoPunti" placeholder="Inserisci numero punti..">
        <br>
        <br>
        <label asp-for="@Model.IdAnagrafica">Trasgressore:</label>
        <select asp-for="@Model.IdAnagrafica">
            @foreach (var trasgressore in ViewBag.listaAnagrafiche)
            {
                <option value="@trasgressore.Id">@trasgressore.Cognome @trasgressore.Nome</option>
            }
        </select>
        <br>
        <br>
        <label asp-for="@Model.IdViolazione">Tipo Violazione:</label>
        <select asp-for="@Model.IdViolazione">
            @foreach (var violazione in ViewBag.listaViolazioni)
            {
                <option value="@violazione.Id">@violazione.TipoViolazione</option>
            }
        </select>
        <br>
        <br>
        <button type="submit" value="Submit" class="btn btn-success">Aggiungi Verbale</button>
    </fieldset>
</form>
