@model Anagrafiche

<form class="text-center" method="post" asp-controller="Anagrafe" asp-action="AggiungiAnagrafe" >
    <fieldset>
        <legend>Nuova Anagrafe:</legend>
        <label asp-for="@Model.Cognome">Cognome:</label>
        <input type="text" asp-for="@Model.Cognome" placeholder="Inserisci cognome..">
        <br>
        <br>
        <label asp-for="@Model.Nome">Nome:</label>
        <input type="text" asp-for="@Model.Nome" placeholder="Inserisci nome..">
        <br>
        <br>
        <label asp-for="@Model.Indirizzo">Indirizzo:</label>
        <input type="text" asp-for="@Model.Indirizzo" placeholder="Inserisci indirizzo..">
        <br>
        <br>
        <label asp-for="@Model.Citta">Città:</label>
        <input type="text" asp-for="@Model.Citta" placeholder="Inserisci città..">
        <br>
        <br>
        <label asp-for="@Model.CAP">CAP:</label>
        <input type="number" asp-for="@Model.CAP" placeholder="Inserisci CAP..">
        <br>
        <br>
        <label asp-for="@Model.CodiceFiscale">Codice fiscale:</label>
        <input type="text" asp-for="@Model.CodiceFiscale" placeholder="Inserisci codice fiscale..">
        <br>
        <br>
        <button type="submit" value="Submit">Aggiungi Anagrafica</button>
    </fieldset>
</form>
